.post {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.post .imgs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
}
.post .imgs img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem black;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}
.modal .content {
  background: linear-gradient(to right, #2563eb, #598ef3);
  color: white;
  border-radius: 1rem;
  background-size: cover;
  margin: auto;
  width: fit-content;
  padding: 1rem;
  position: relative;
}
.modal .content form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  min-width: 300px;
  margin: 0 auto;
}
.modal .content form input, .modal .content form textarea {
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 3rem;
}
.modal .content form .add-button, .modal .content form .image-label {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: myfont;
  text-shadow: 2px 2px black;
  font-size: 1.5rem;
  margin-top: 1rem;
  box-shadow: 0 0 0.5rem black;
}
.modal .content form #image {
  display: none;
}
.modal .content form .image-label {
  font-size: 1rem;
}
.modal .content .close {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: myfont;
  color: white;
  text-shadow: 4px 4px black;
  font-size: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

@font-face {
  font-family: myfont;
  src: url(assets/PressStart2P-Regular.ttf);
}
body {
  background-color: #1e293b;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  font-family: myfont;
  font-size: 1rem;
  color: white;
  background: linear-gradient(to bottom, #2563eb, #598ef3);
  padding: 1rem;
  text-shadow: 4px 4px black;
}
header a {
  color: white;
  text-decoration: none;
}

main {
  flex-grow: 1;
}
main .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
}
main .wrapper .ad {
  background: linear-gradient(to right, #2563eb, #598ef3);
  box-shadow: 0 0 0.5rem black;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
}
main .wrapper .ad img {
  width: 100%;
  border-radius: 1rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}
main .wrapper .ad p {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1.5rem;
}

#add {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: linear-gradient(to right, #2563eb, #598ef3);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: myfont;
  text-shadow: 4px 4px black;
  font-size: 1.5rem;
  box-shadow: 0 0 0.5rem black;
}

footer {
  background: linear-gradient(to bottom, #2563eb, #598ef3);
  color: white;
  text-align: center;
  padding: 0.3rem;
}

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  color: white;
  font-size: 2rem;
  font-family: myfont;
  text-shadow: 4px 4px black;
}

/*# sourceMappingURL=style.css.map */
