@import "./base/clearDefault.scss", "./base/colors.scss",
    "./base/typography.scss", "./components/post.scss",
    "./components/modal.scss", "./mixins.scss", "./components/commentForm.scss", "./components/commentsList.scss";

body {
    background-color: $bg;
    font-family: $font;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

header {
    font-family: $titleFont;
    @include responsive-font(1rem, 2rem, 320px, 1200px);
    text-align: center;
    color: white;
    background-color: $blue;
    padding: 1rem;
    position: relative;
    text-shadow: 4px 4px black;
    @include transparentShadow();
    & a {
        @include removeLinkStyle();
    }
}

main {
    @include responsive-container(1200px, 16px);
    flex-grow: 1;
    & .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
        padding: 1rem;
        & .ad {
            background-color: $blue;
            color: white;
            padding: 1rem;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-shadow: 4px 4px black;
            font-size: 1.5rem;
            text-decoration: none;
            @include transparentShadow(blue, $x: 5px);
            & img {
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 1rem;
            }

            & p {
                overflow: hidden;
                text-overflow: ellipsis;
                height: 1.5rem;
            }
            
        }
    }
}

#add {
    position: fixed;
    bottom: 4rem;
    right: 20px;
    font-family: $titleFont;
    @include buttonStyle();
}

footer {
    text-align: center;
    color: white;
    background-color: $blue;
    padding: 1rem;
    @include transparentShadow($y: -5px);
}


  